h1,
h2,
p {
  text-align: center;
}
body {
  background-image: url(https://wallpapers.com/images/high/aesthetic-y2k-background-1920-x-1080-kel57oyilxgi5ttd.webp);
}
.fashion {
  width: 80%;
  background-color: rgb(252, 104, 210);
  margin-left: auto;
  margin-right: auto;
  color: rgb(240, 248, 255);
}
.spice {
  text-align: left;
  width: 29%;
}
.explanation {
  text-align: right;
  width: 70%;
}
.item p {
  display: inline-block;
}

.b2yk {
  text-align: left;
  width: 29%;
}

.explanation2 {
  text-align: right;
  width: 70%;
}
