h1,
h2,
p {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}
.kissicons {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.boyicon {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
body {
  background-image: url(https://wallpapers.com/images/high/aesthetic-y2k-background-1920-x-1080-kel57oyilxgi5ttd.webp);
  font-family: sans-serif;
  padding: 20px;
}
.fashion {
  width: 80%;
  background-color: rgb(252, 104, 210);
  margin-left: auto;
  margin-right: auto;
  color: rgb(240, 248, 255);
  /* padding-left: 20px;
  padding-right: 20px; */
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
  padding: 20px;
  max-width: 500px; /*The current width of the menu will always take up 80% of the body element's width. On a very wide screen, the coffee and dessert appear far apart from their prices.
Add a max-width property to the menu class with a value of 500px to prevent it from growing too wide.*/
}
.kuku {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.spice,
.b2yk {
  text-align: left;
  width: 29%;
}
.explanation,
.explanation2 {
  text-align: right;
  width: 100%;
}
.item p {
  display: inline-block;
}
h1,
h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 30px;
}
hr {
  height: 3px;
  background-color: pink;
  border-color: pink;
}

.bottom-line {
  margin-top: 25px;
}

styles.css/*FOOTER*/
footer {
  font-size: 14px;
}
a {
  color: rgb(122, 8, 8);
}
a:visited {
  color: rgb(131, 8, 8);
} /*{ propertyName: propertyValue; }.*/
a:hover {
  color: blue;
}
a:active {
  color: white;
}
.address {
  margin-bottom: 5px;
}
