h1,
h2,
p {
  text-align: center;
}
body {
  background-image: url(https://wallpapers.com/images/high/aesthetic-y2k-background-1920-x-1080-kel57oyilxgi5ttd.webp);
}
.fashion {
  width: 80%;
  background-color: rgb(252, 104, 210);
  margin-left: auto;
  margin-right: auto;
}
.spice {
  text-align: left;
}
.explanation {
  text-align: right;
}
.item p {
  display: inline-block;
}
